@model TestFarm.ViewModels.PlantIndexViewModel

@{
    ViewBag.Title = "Plant List";
}

@foreach (var p in Model.Plants)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>@p.Name
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@p.Pricing.FirstOrDefault(p => p.EndDate == null).PricePerItem.ToString("c")</small>
                </span>
            </h4>
        </div>
        <div class="card-text text-light p-1">@p.CategoryNavigation.Name</div>
        <img class="card-img-top width: 45%" src="~/images/@p.Image" asp-append-version="true" />
        <div class="card-footer text-center">
            <a asp-controller="plant" asp-action="details" asp-route-Id="@p.PlantId"
               class="btn btn-primary">View</a>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
}

@*<div class="card-deck col-4">
        <div class="container-fluid mt-4">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    @foreach (var p in Model.Plants)
                    {
                        <div class="card border-dark m-1 p-1" style="max-width: 18rem;">
                            <div class="card-header">
                                <h3>@p.Name</h3>
                            </div>
                            <span class="badge badge-pill badge-primary" style="float:right">
                                <small>$40</small>
                            </span>
                            <div class="card-body bg-secondary p-1">
                                <div class="card-text text-light p-1">@p.CategoryNavigation.Name</div>
                            </div>
                            <img class="card-img-top" src="~/images/@p.Image" asp-append-version="true" />
                            <div class="card-footer text-center">
                                <a asp-controller="plant" asp-action="details" asp-route-Id="@p.PlantId"
                                    class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@

<div page-model="@Model.PagingInfo" page-action="Index"></div>

@*@<div class="card-deck">
        @foreach (var p in Model)
        {
        <div class="row">
            <div class="col-sm-6">
                <div class="card m-3">
                    <div class="card-header">
                        <h3>@p.Name</h3>
                    </div>
                    <img class="card-img-top" src="~/images/@p.Image" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-controller="plant" asp-action="details" asp-route-Id="@p.PlantId"
                           class="btn btn-primary">View</a>
                        @Url.Action("details", "plant", new { Id = plant.Id})
                        @Html.ActionLink("View","details","plant", new { Id = plant.Id})
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>*@

@*<table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Growth Time</th>
                    <th>Nutrients</th>
                    <th>Daily Water Needs</th>
                    <th>Number Available</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var plant in Model)
                {
                    <tr>
                        <td>@plant.Id</td>
                        <td>@plant.PlantName</td>
                        <td>@plant.GrowingTime @plant.GrowingType</td>
                        <td>@plant.Nutrients</td>
                        <td>@plant.WaterOunces ounces</td>
                        <td>@plant.NumberAvailable</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
    </html>*@
